{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Espace Employés{% endblock %}

{% block body %}
    
    <div class="css-dark px-0 py-0 w-100 d-flex flex-column">
        {% include "partials/_navigationEmployee.html.twig" %}
        <div class="w-100 bb-gold py-5"></div> {# for design #}
    </div>
{% endblock %}