{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot - Espace admin
{% endblock %}

{% block body %}
	{% include "partials/_navigationAdmin.html.twig" %}
	<div class="css-dark w-100 d-flex flex-column align-items-center justify-content-center"></div>
{% endblock %}
